* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #444;
  border-top: 5px #1098ad solid;
  position: relative;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  font-style: italic;
}

nav a:link {
  margin-right: 30px;
  margin-top: 20px;
  display: inline-block;
}

article {
  margin-bottom: 60px;
}

strong {
  color: red;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}
li:last-child {
  margin-bottom: 0;
}

#copyright {
  font-size: 16px;
  text-align: center;
  background-color: black;
  color: white;
  padding: 10px 5px;
  margin: 0px;
}

header p {
  font-style: italic;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related {
  list-style: none;
  margin-left: 0;
}

.main-header {
  background-color: #f7f7f7;
  padding: 20px 30px;
  margin-bottom: 60px;
}

.post-header {
  margin-bottom: 40px;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px #1098ad solid;
  border-bottom: 5px #1098ad solid;
  padding: 50px 40px;
}

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

li:nth-child(3) {
  color: red;
}

article p:last-child {
  color: red;
}

a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}

.post-img {
  width: 100%;
  height: auto;
}

button {
  font-size: 20px;
  padding: 12px;
  cursor: pointer;
  position: absolute;
  bottom: 50px;
  right: 50px;
  color: rgb(240, 44, 44);
}

h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}

h3 + p::first-line {
  color: red;
}

h2 {
  position: relative;
}

h2::before {
  content: "TOP";
  background-color: #ffe70e;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -10px;
  right: -25px;
}

/* h2::first-letter {
  font-size: 80px;
  font-style: normal;
  margin-right: 5px;
} */

/* FLOATS */

.author-img {
  float: left;
  margin-bottom: 20px;
}

.author {
  float: left;
  margin-left: 20px;
  margin-top: 10px;
}

h1 {
  float: left;
}

nav {
  float: right;
}

.clarflix::after {
  clear: both;
  content: "";
  display: block;
}

article {
  width: 800px;
  float: left;
}

aside {
  width: 325px;
  float: right;
}

footer {
  clear: both;
}
